:root {
  --color-apply--bg-primary: #e2ddd6;
  --color-apply--font-primary: #1d1d1d;
  --global-swatch--orange: #ef8019;
  --global-swatch--dark-primary: #1d1d1d;
  --radius--container: 1.5em;
  --radius--button: .5em;
  --color-apply--bg-secondary: #fafafa;
  --radius--pill: 999px;
  --global-swatch--transparent: rgba(0, 0, 0, 0);
  --color-apply--font-secondary: rgba(29, 29, 29, .85);
  --radius--card: 1em;
  --radius--changing-radius: 0px;
  --global-swatch--light-primary: #e2ddd6;
  --global-swatch--light-secondary: #fafafa;
  --color-apply--btn: var(--global-swatch--orange);
  --global-swatch--dark-secondary: rgba(29, 29, 29, .85);
  --radius--minimum: 3px;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-form-formradioinput--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  background-color: var(--color-apply--bg-primary);
  color: var(--color-apply--font-primary);
  font-family: Times New Roman, TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 1.3vw;
  font-weight: 400;
  line-height: 1.8;
}

h1 {
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Merriweather, serif;
  font-size: 4em;
  font-weight: 900;
  line-height: 1.1;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Merriweather, serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.25;
}

h3 {
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Merriweather, serif;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.25;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Merriweather, serif;
  font-size: 2.1em;
  font-weight: 700;
  line-height: 1.25;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Merriweather, serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.25;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Merriweather, serif;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.25;
}

p {
  margin-bottom: 10px;
  font-size: 1em;
}

a {
  text-decoration: none;
  transition: opacity .2s;
  display: block;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

a.w--current {
  color: var(--global-swatch--orange);
}

ul {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 40px;
  list-style-type: disc;
}

img {
  display: block;
}

label {
  color: var(--global-swatch--dark-primary);
  letter-spacing: .5px;
  margin-bottom: .5em;
  font-family: Merriweather, serif;
  font-weight: 700;
  line-height: 20px;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  font-size: 20px;
  line-height: 34px;
}

figcaption {
  opacity: 1;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  line-height: 26px;
}

.divider {
  height: 1px;
  background-color: #eee;
}

.styleguide-content-wrap {
  text-align: center;
}

.section {
  width: 100%;
  background-color: var(--color-apply--bg-primary);
  flex-direction: column;
  padding-top: 4em;
  padding-bottom: 12em;
  display: flex;
  overflow: hidden;
}

.section.cc-cta {
  background-color: #f4f4f4;
  padding-left: 80px;
  padding-right: 80px;
}

.section.short-hero {
  max-height: 100vh;
  min-height: 50vh;
  justify-content: center;
  padding-bottom: 4em;
}

.section.short-hero.contact {
  padding-top: 4em;
  padding-bottom: 4em;
}

.section.last {
  z-index: 1;
  max-width: 100vw;
  border-bottom-left-radius: var(--radius--container);
  border-bottom-right-radius: var(--radius--container);
  position: relative;
  overflow: visible;
}

.section.contact {
  padding-top: 4em;
  padding-bottom: 7em;
  overflow: visible;
}

.section.hero {
  min-height: 70vh;
  padding-top: 9em;
  padding-bottom: 7em;
}

.styleguide-block {
  text-align: left;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  display: block;
}

.container {
  width: 90vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.container.stick-bottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.paragraph-tiny {
  font-size: .6em;
  line-height: 20px;
}

.paragraph-bigger {
  opacity: 1;
  font-size: 1.2em;
}

.paragraph-bigger.cc-bigger-light {
  opacity: .6;
}

.button {
  border-radius: var(--radius--button);
  background-color: var(--color-apply--font-primary);
  color: var(--color-apply--bg-primary);
  letter-spacing: 1px;
  text-transform: capitalize;
  white-space: pre;
  padding: 1em;
  font-family: Merriweather, serif;
  font-size: .9em;
  font-weight: 700;
  line-height: 1;
  transition: box-shadow .4s, transform .4s, border-color .4s, background-color .4s, opacity .4s, color .4s;
  position: relative;
  box-shadow: 11px 11px 2.2em -.6em rgba(0, 0, 0, .2), 7px 7px .5em -.28em rgba(0, 0, 0, .25), inset -4px -4px 1.6em -.6em rgba(0, 0, 0, .15), inset -2px -2px .5px rgba(0, 0, 0, .2), inset 16px 16px 1.375em -.8em rgba(255, 255, 255, .15), inset 2px 2px .5px rgba(255, 255, 255, .45);
}

.button:hover {
  color: var(--color-apply--bg-primary);
  transform: scale(.98);
  box-shadow: 10px 10px 2em -.6em rgba(0, 0, 0, .2), 6px 6px .4em -.28em rgba(0, 0, 0, .25);
}

.button:active {
  box-shadow: inset 0 0 1em .25em rgba(0, 0, 0, .2);
}

.button.cta {
  z-index: 2;
  background-color: var(--global-swatch--orange);
  color: var(--color-apply--bg-secondary);
  font-weight: 700;
  position: relative;
}

.button.cc-contact-us {
  z-index: 5;
  position: relative;
}

.button.cc-white-button {
  color: #202020;
  background-color: #fff;
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button:hover {
  background-color: rgba(255, 255, 255, .8);
}

.button.cc-white-button:active {
  background-color: rgba(255, 255, 255, .9);
}

.button.go-ahead {
  border: 3px solid var(--global-swatch--orange);
  border-radius: var(--radius--pill);
  background-color: var(--global-swatch--transparent);
  padding: 0;
  position: relative;
  overflow: hidden;
  box-shadow: inset -4px -4px 1.6em -.6em rgba(0, 0, 0, .15), inset -2px -2px .5px rgba(0, 0, 0, .2), inset 16px 16px 1.375em -.8em rgba(255, 255, 255, .15), inset 2px 2px .5px rgba(255, 255, 255, .45);
}

.button.go-ahead:active {
  box-shadow: inset 0 0 2em -.25em rgba(0, 0, 0, .15);
}

.button.menu-button {
  border: 2px solid var(--color-apply--font-primary);
  background-color: var(--global-swatch--transparent);
  box-shadow: none;
  color: var(--color-apply--font-primary);
}

.button.menu-button:hover {
  border-color: var(--global-swatch--orange);
  color: var(--global-swatch--orange);
}

.label {
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-family: Merriweather, serif;
  font-size: .8em;
  font-weight: 700;
}

.label.cc-styleguide-label {
  margin-bottom: 25px;
}

.heading-jumbo-tiny {
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  line-height: 1.2;
}

.rich-text {
  width: 70%;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.rich-text p {
  opacity: .6;
  margin-top: 15px;
  margin-bottom: 25px;
}

.rich-text figcaption {
  opacity: .6;
}

.rich-text figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

.paragraph-light {
  opacity: .6;
  color: var(--color-apply--font-secondary);
}

.heading-jumbo {
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 3.6em;
  font-weight: 700;
  line-height: 1.3;
}

.heading-jumbo-small {
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 2.7em;
  line-height: 1.2;
}

.heading-jumbo-small.is--center {
  text-align: center;
}

.styleguide-button-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}

.styleguide-header-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.paragraph-small {
  font-size: .8em;
  line-height: 26px;
}

.logo-link {
  z-index: 0;
  color: var(--color-apply--font-primary);
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: color .2s;
  display: flex;
}

.logo-link:active {
  opacity: .7;
}

.logo-link.w--current {
  color: var(--color-apply--font-primary);
  text-align: center;
}

.menu {
  z-index: 1;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 5vw;
  display: flex;
}

.navigation-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--color-apply--bg-primary);
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr 4fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  padding-top: .7em;
  padding-bottom: .7em;
  display: grid;
  position: relative;
}

.frame {
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.navigation-item {
  z-index: 2;
  color: var(--color-apply--bg-primary);
  text-transform: capitalize;
  margin-bottom: .5em;
  padding: .5em 1em;
  font-size: 1.6em;
  font-weight: 700;
  display: flex;
}

.navigation-item:hover {
  opacity: 1;
  color: var(--global-swatch--orange);
}

.navigation-item:active {
  opacity: .8;
}

.navigation-item.w--current {
  opacity: .5;
  color: var(--color-apply--bg-primary);
}

.navigation-item.w--current:active {
  opacity: .7;
  color: #32343a;
}

.logo-image {
  display: block;
}

.navigation-items {
  z-index: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  border-radius: var(--radius--card);
  background-color: var(--color-apply--font-primary);
  color: var(--color-apply--bg-primary);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  overflow: auto;
}

.footer-wrap {
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
}

.webflow-link {
  opacity: .5;
  align-items: center;
  text-decoration: none;
  transition: opacity .4s;
  display: flex;
}

.webflow-link:hover {
  opacity: 1;
}

.webflow-link:active {
  opacity: .8;
}

.webflow-logo-tiny {
  margin-top: -2px;
  margin-right: 8px;
}

.cta-text {
  width: 70%;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

.cta-wrap {
  text-align: center;
  justify-content: center;
  padding-top: 4em;
  padding-bottom: 4.5em;
  display: flex;
}

.hero {
  width: 100%;
  border-radius: var(--radius--changing-radius);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}

.intro-content {
  width: 70%;
  max-width: 1140px;
  text-align: center;
}

.status-message {
  border-radius: var(--radius--button);
  background-color: var(--global-swatch--orange);
  color: var(--global-swatch--light-primary);
  text-align: center;
  font-size: 1.3em;
}

.status-message.cc-error-message {
  background-color: var(--global-swatch--dark-primary);
  color: var(--global-swatch--orange);
  margin-top: 1.5em;
}

.contact-form-wrap {
  border-radius: var(--radius--card);
  background-color: var(--global-swatch--light-primary);
  color: var(--color-apply--font-primary);
  padding: 3em 2em;
}

.contact-form-grid {
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template: ". ."
  / 2.5fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  margin-top: 2em;
  display: grid;
}

.get-in-touch-form {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-field {
  height: 2.5em;
  border-radius: var(--radius--button);
  color: var(--global-swatch--dark-primary);
  background-color: rgba(250, 250, 250, .65);
  border: 1px solid rgba(29, 29, 29, .3);
  margin-bottom: 0;
  padding: .7em 1em;
  font-size: 1em;
  transition: border-color .4s;
}

.text-field:hover {
  border-color: var(--global-swatch--orange);
  background-color: var(--global-swatch--light-secondary);
}

.text-field:focus {
  border-color: var(--global-swatch--orange);
  opacity: 1;
}

.text-field::-ms-input-placeholder {
  color: rgba(29, 29, 29, .45);
  font-size: 1em;
}

.text-field::placeholder {
  color: rgba(29, 29, 29, .45);
  font-size: 1em;
}

.text-field:lang(en) {
  color: var(--global-swatch--dark-primary);
}

.contact-form {
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.protected-form {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.protected-wrap {
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 100px;
  display: flex;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  color: #fff;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

._404-wrap {
  width: 100%;
  height: 100%;
  color: var(--color-apply--font-primary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  display: flex;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.nav-cta {
  z-index: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5vw;
  display: flex;
}

.nav-logo {
  letter-spacing: -.07em;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 800;
  line-height: 1;
}

.service-card {
  aspect-ratio: 1 / 1;
  border: 3px solid var(--color-apply--font-primary);
  border-radius: var(--radius--card);
  color: var(--color-apply--bg-primary);
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-end;
  padding: 9%;
  transition: color .4s cubic-bezier(.455, .03, .515, .955), background-color .4s cubic-bezier(.455, .03, .515, .955);
  display: flex;
  position: relative;
  overflow: hidden;
}

.service-card:hover {
  border-color: var(--color-apply--btn);
  background-color: var(--color-apply--bg-secondary);
  color: var(--global-swatch--dark-primary);
  justify-content: flex-end;
}

.service-card__title {
  font-size: 1.8em;
}

.quote-icon {
  width: 3em;
  height: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 2em;
  bottom: auto;
  left: auto;
  right: 1.5em;
}

.testimony-text {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1em;
  font-weight: 400;
}

.testimony-slider {
  height: auto;
  border-radius: var(--radius--container);
  background-color: var(--global-swatch--transparent);
  color: var(--color-apply--bg-primary);
  padding-bottom: 4.5em;
}

.slide-nav {
  justify-content: center;
  font-size: .9em;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.testimony-content {
  width: 100%;
  height: 100%;
  min-height: 30em;
  grid-column-gap: 0em;
  grid-row-gap: 2em;
  border-radius: var(--radius--card);
  background-color: var(--color-apply--font-primary);
  flex-direction: column;
  grid-template-rows: 2em minmax(auto, 1fr) auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3em;
  padding: 2em 1.5em;
  display: grid;
  position: relative;
}

.testimony-person {
  height: 5em;
  aspect-ratio: 1 / 1;
  border: 3px solid var(--color-apply--btn);
  border-radius: var(--radius--card);
  position: relative;
  top: -6em;
  left: -1em;
  overflow: hidden;
  transform: translate(1.8em, 1.8em)rotate(45deg);
}

.testimony-person__photo {
  transform: scale(1.4)rotate(-45deg);
}

.testimony-quote-from {
  width: 80%;
  justify-content: flex-end;
  margin-left: auto;
  font-size: .9em;
  display: flex;
}

.div-block {
  width: 3em;
  height: 50%;
  border-bottom: 2px solid var(--color-apply--bg-primary);
  margin-right: 1em;
}

.close-menu {
  z-index: 2;
  width: 6em;
  height: 6em;
  color: var(--color-apply--bg-primary);
  align-items: flex-end;
  margin-bottom: 1em;
  padding-bottom: 1.5em;
  font-size: 1em;
  display: flex;
}

.close-menu:hover {
  color: var(--color-apply--btn);
}

.hero-content__text-div {
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  flex-direction: column;
  display: flex;
}

.arrow {
  width: 1.8em;
  aspect-ratio: 1 / 1;
  border: 2px solid var(--color-apply--btn);
  border-radius: var(--radius--pill);
  background-color: var(--color-apply--bg-primary);
  color: var(--color-apply--font-primary);
  font-size: 2.1em;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 1em;
}

.arrow.prev {
  top: auto;
  bottom: 0%;
  left: 1em;
  right: auto;
}

.service-card__grid {
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  perspective: 1000px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 4em;
  display: grid;
}

.service-card__detail {
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  overflow: hidden;
}

.service-card__title-container {
  height: 85%;
  align-items: flex-start;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 9%;
  left: 9%;
  right: 9%;
}

.process-track {
  width: 100%;
  height: 180vw;
  border-radius: var(--radius--changing-radius);
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

.process-viewport {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  transition: box-shadow .3s cubic-bezier(.455, .03, .515, .955);
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.process-card {
  width: 30vw;
  max-height: 50vh;
  aspect-ratio: 4 / 5;
  border-radius: var(--radius--card);
  background-color: var(--global-swatch--light-secondary);
  color: var(--color-apply--font-primary);
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5em 2em 2em;
  transition: transform .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: 4px 2px 10px rgba(0, 0, 0, .15);
}

.process-card:hover {
  transform: translate(0, -1.5em);
}

.process-list {
  width: 180vw;
  grid-column-gap: 1.5em;
  grid-row-gap: 0em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  margin-top: 3em;
  margin-bottom: 4em;
  display: flex;
  transform: translate(20vw);
}

.img-cover-full {
  width: 100%;
  height: 100%;
  filter: saturate(0%);
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.img-cover-full.is--z-2 {
  z-index: -2;
}

.process-card__title {
  font-size: 1.7em;
}

.navbar {
  border-bottom: 1px solid var(--global-swatch--dark-secondary);
  background-color: var(--global-swatch--transparent);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.text-highlight {
  background-image: linear-gradient(to bottom, var(--global-swatch--transparent) 15%, var(--color-apply--btn) 16%, var(--color-apply--btn) 84%, var(--global-swatch--transparent) 85%);
}

.hero-description {
  max-width: 25em;
  opacity: 1;
  font-size: 1.2em;
}

.is--center-align {
  align-items: center;
}

.menu-grid {
  height: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: 6em;
  grid-template-columns: 1fr auto;
  grid-auto-columns: 1fr;
  padding-bottom: 4em;
  padding-left: 4em;
  padding-right: 4em;
  display: grid;
}

.menu-contact {
  grid-column-gap: 0em;
  grid-row-gap: 3em;
  border-radius: var(--radius--card);
  background-color: rgba(226, 221, 214, .1);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2em;
  display: flex;
}

.menu-contact__subtitle {
  margin-bottom: 1em;
  font-family: Merriweather, serif;
  font-size: 1.2em;
}

.menu-contact__detail-div {
  grid-column-gap: 2em;
  grid-row-gap: .5em;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 2fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  justify-items: start;
  display: flex;
}

.menu-contact__div {
  color: var(--color-apply--bg-primary);
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.menu-contact__detail-grid {
  grid-column-gap: 2em;
  grid-row-gap: .5em;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 2fr;
  grid-auto-columns: 1fr;
  justify-items: start;
  display: grid;
}

.menu-contact__detail-item {
  color: var(--color-apply--bg-primary);
}

.menu-contact__detail-item:hover {
  color: var(--global-swatch--orange);
}

.cta-sec {
  z-index: 0;
  background-color: var(--global-swatch--orange);
  margin-top: -25vh;
}

.close-btn {
  width: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.radio-btn__option {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  border-radius: var(--radius--button);
  background-color: rgba(250, 250, 250, .65);
  border: 1px solid rgba(29, 29, 29, .3);
  align-items: center;
  margin-bottom: 0;
  padding: .6em 1.5em .7em;
  display: flex;
}

.radio-btn__option:hover {
  border-color: var(--global-swatch--orange);
  background-color: var(--global-swatch--light-secondary);
  opacity: 1;
}

.radio-btn__grid {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.radio-btn {
  width: 1.5em;
  height: 1.5em;
  border-color: rgba(29, 29, 29, .3);
  border-radius: 2px;
}

.radio-btn.w--redirected-checked {
  border-width: 1px;
  border-color: var(--global-swatch--orange);
  background-color: var(--global-swatch--orange);
}

.textarea {
  border-radius: var(--radius--button);
  color: var(--global-swatch--dark-primary);
  background-color: rgba(250, 250, 250, .65);
  border: 1px solid rgba(29, 29, 29, .3);
  padding: .7em 1em;
  font-size: 1em;
  transition: border-color .4s;
}

.textarea:hover {
  border-color: var(--global-swatch--orange);
  background-color: var(--global-swatch--light-secondary);
}

.textarea:active {
  border-color: #43464d;
}

.textarea:focus {
  border-color: var(--global-swatch--orange);
  background-color: var(--global-swatch--light-secondary);
}

.textarea::-ms-input-placeholder {
  color: rgba(29, 29, 29, .45);
  font-size: 1em;
}

.textarea::placeholder {
  color: rgba(29, 29, 29, .45);
  font-size: 1em;
}

.textarea:lang(en) {
  color: var(--global-swatch--dark-primary);
}

.cta-spacer {
  z-index: -999;
  height: 25vh;
  position: relative;
}

.contact-panel {
  grid-column-gap: 0em;
  grid-row-gap: 3em;
  border-radius: var(--radius--card);
  background-color: rgba(226, 221, 214, .1);
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 1em;
}

.contact__div {
  color: var(--color-apply--font-primary);
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.contact__detail-item {
  color: var(--color-apply--font-primary);
}

.contact__detail-item:hover {
  color: var(--global-swatch--orange);
}

.motto-img {
  border-radius: var(--radius--pill);
  filter: saturate(0%);
  background-image: url('../images/trust.jpg');
  background-position: 50%;
  background-size: cover;
  margin-left: .2em;
  margin-right: .2em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  font-size: 1.5em;
  line-height: 1.5em;
  transition: top .2s;
  position: relative;
  top: .1em;
}

.motto-img:hover {
  top: 0;
}

.motto-img.tablet {
  display: none;
}

.motto-img._2 {
  background-image: url('../images/strategize.jpg');
}

.motto-img._3 {
  background-image: url('../images/happy.jpg');
}

.motto-img._4 {
  background-image: url('../images/money.webp');
}

.motto {
  text-transform: none;
  font-family: Merriweather, serif;
  font-size: 2.7em;
  line-height: 2;
}

.hero-grid {
  min-height: 40vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.hero-content__img-div {
  grid-column-gap: .6em;
  grid-row-gap: .6em;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.hero-content__img-item {
  width: 33%;
  height: 100%;
  border-radius: var(--radius--pill);
  background-color: rgba(29, 29, 29, .2);
  position: relative;
  top: -4vw;
  overflow: hidden;
}

.hero-content__img-item._1 {
  top: auto;
  bottom: -4vw;
  left: 0%;
  right: auto;
}

.hero-content__img-item._2 {
  top: 0;
}

.img-shade {
  z-index: 1;
  width: 100%;
  height: 100%;
  filter: saturate(0%);
  object-fit: cover;
  background-color: rgba(29, 29, 29, .3);
  transition: opacity .2s;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.img-shade:hover {
  opacity: 0;
}

.arrow-down {
  height: 6em;
  aspect-ratio: 1 / 1;
  color: var(--global-swatch--orange);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5em;
  font-size: 1em;
  display: flex;
}

.arrow-down.dup {
  position: absolute;
  top: -6em;
  bottom: auto;
  left: auto;
  right: auto;
}

.is--hidden {
  display: none;
}

.menu-sandwich {
  width: 3.6em;
  height: 3.6em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  top: -.36em;
  bottom: 0%;
  left: -.36em;
  right: 0%;
}

.btn_text {
  z-index: 2;
  opacity: 1;
  font-size: 1.2em;
  position: relative;
}

.logo-svg {
  width: 7em;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.testimony-slide {
  width: 25em;
  height: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

.testimony-slider_mask {
  width: 25em;
  height: 100%;
  overflow: visible;
}

.service-card__bg {
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(226, 221, 214, .2), var(--color-apply--font-primary) 65%);
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.service-img {
  z-index: -2;
  width: 100%;
  height: 100%;
  filter: contrast(57%) saturate(0%);
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.service-img.is--z-2 {
  z-index: -2;
}

.contact-panel__track {
  height: 100%;
}

@media screen and (min-width: 1280px) {
  body {
    font-size: 1.05vw;
  }

  .section {
    padding-top: 9em;
    padding-bottom: 9em;
  }

  .section.short-hero {
    min-height: 80vh;
  }

  .container {
    width: 84vw;
  }

  .heading-jumbo {
    font-size: 4em;
  }

  .navigation-item {
    font-size: 1.8em;
  }

  .testimony-text {
    font-size: 1em;
  }

  .testimony-slider {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .testimony-content {
    grid-row-gap: 1em;
    grid-template-rows: 2.5em minmax(auto, 1fr) 3.5em;
  }

  .testimony-quote-from {
    font-size: .9em;
  }

  .process-track {
    height: 300vh;
  }

  .process-viewport {
    width: 100vw;
    padding-top: 2em;
    padding-bottom: 2em;
    overflow: hidden;
  }

  .process-card {
    width: 56vh;
    max-height: 70vh;
  }

  .process-list {
    width: 300vh;
    margin-top: 2.5em;
    margin-bottom: 3.2em;
  }

  .motto-img {
    height: 3em;
    aspect-ratio: 2.39 / 1;
    color: var(--global-swatch--transparent);
    position: relative;
  }

  .motto {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-grid {
    min-height: 45vh;
    grid-column-gap: 5em;
    grid-row-gap: 5em;
    grid-template-rows: auto;
    grid-template-columns: 2fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .hero-content__img-div {
    position: relative;
  }

  .hero-content__img-item {
    filter: saturate(0%);
  }

  .testimony-slide {
    min-height: 40vh;
  }
}

@media screen and (max-width: 991px) {
  body {
    font-size: 1.8vw;
  }

  .section {
    padding-top: 4em;
    padding-bottom: 8em;
  }

  .section.cc-cta {
    padding-left: 0;
    padding-right: 0;
  }

  .section.short-hero {
    min-height: auto;
    padding-top: 6em;
    padding-bottom: 6em;
  }

  .section.contact {
    padding-top: 2em;
    padding-bottom: 5em;
  }

  .section.hero {
    padding-top: 6em;
    padding-bottom: 6em;
  }

  .styleguide-block {
    text-align: center;
  }

  .container {
    width: 94vw;
  }

  .button {
    justify-content: center;
  }

  .button.cc-contact-us {
    display: none;
  }

  .button.menu-button {
    padding: 1em;
  }

  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
  }

  .logo-link.w--current {
    flex: 1;
  }

  .menu-icon {
    display: block;
  }

  .menu {
    margin-left: 3vw;
    position: static;
  }

  .frame {
    padding: 25px 30px;
  }

  .navigation-item {
    text-align: center;
    margin-bottom: .5em;
    padding-top: .3em;
    padding-bottom: .3em;
    padding-left: 0;
    font-size: 1.4em;
    transition: background-color .4s, opacity .4s, color .4s;
  }

  .navigation-item:active {
    background-color: #eef0f3;
  }

  .menu-button {
    padding: 0;
  }

  .menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .navigation-items {
    height: 100vh;
    max-height: 100vh;
    overflow: auto;
  }

  .cta-text {
    width: 75%;
  }

  .cta-wrap {
    width: auto;
    padding: 80px 50px 90px;
  }

  .hero {
    align-items: center;
  }

  .contact-form-grid {
    grid-row-gap: 50px;
    text-align: center;
    grid-template: "."
                   "."
                   / 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .get-in-touch-form {
    text-align: left;
  }

  .nav-cta {
    margin-right: 3vw;
  }

  .testimony-text {
    font-weight: 400;
  }

  .testimony-slider {
    height: auto;
    min-height: 0;
  }

  .testimony-content {
    grid-row-gap: 2em;
    padding: 2em 1em;
  }

  .close-menu {
    width: 5em;
    height: 4em;
    margin-bottom: 1.5em;
    padding-bottom: 1em;
  }

  .hero-content__text-div {
    align-items: flex-start;
  }

  .service-card__grid {
    grid-template-columns: 1fr 1fr;
  }

  .process-track {
    height: 300vw;
  }

  .process-card {
    width: 75vw;
  }

  .process-list {
    width: 300vw;
  }

  .menu-grid {
    height: 100%;
    flex-direction: column;
    grid-template-rows: 6em 1fr auto;
    grid-template-columns: 1fr;
    align-content: space-between;
    padding-top: 2em;
    display: flex;
    overflow: auto;
  }

  .menu-contact {
    width: 100%;
    grid-column-gap: 3em;
    grid-row-gap: 1em;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .menu-contact__subtitle {
    margin-bottom: .5em;
  }

  .menu-contact__div {
    margin-bottom: 0;
  }

  .close-btn {
    width: 1.2em;
  }

  .contact-panel {
    width: 100%;
    grid-column-gap: 3em;
    grid-row-gap: 1em;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .contact__div {
    margin-bottom: 0;
  }

  .motto {
    font-size: 2.05em;
  }

  .hero-grid {
    min-height: auto;
    display: block;
  }

  .hero-content__img-div {
    display: none;
  }

  .arrow-down {
    height: 5em;
    padding: 0;
  }

  .div-block-2 {
    flex: 1;
  }

  .logo-svg {
    height: 1.8em;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 2.4vw;
  }

  .section {
    padding-top: 4em;
    padding-bottom: 4em;
  }

  .section.cc-cta {
    padding: 15px;
  }

  .section.cc-home-wrap {
    margin-left: 15px;
    margin-right: 15px;
  }

  .section.short-hero {
    padding-top: 5em;
    padding-bottom: 5em;
  }

  .section.contact {
    padding-top: 0;
    padding-bottom: 3em;
  }

  .section.hero {
    padding-top: 4em;
    padding-bottom: 4em;
  }

  .container {
    text-align: center;
  }

  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }

  .button.go-ahead.w--current {
    border-width: 3px;
  }

  .button.menu-button {
    aspect-ratio: 1 / 1;
    border-color: var(--global-swatch--transparent);
    background-color: var(--global-swatch--transparent);
    box-shadow: none;
    padding: 0;
  }

  .rich-text {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }

  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }

  .heading-jumbo-small {
    text-align: left;
    font-size: 2.4em;
  }

  .logo-link {
    justify-content: center;
    padding-right: 3vw;
  }

  .logo-link.w--current {
    justify-content: center;
  }

  .navigation-wrap {
    grid-template-columns: 1fr 4fr;
  }

  .frame {
    padding: 20px 30px;
  }

  .navigation-item {
    font-size: 1.4em;
  }

  .navigation-items {
    height: auto;
    overflow: auto;
  }

  .cta-text {
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .cta-wrap {
    padding-left: 30px;
    padding-right: 30px;
  }

  .hero {
    align-items: center;
  }

  .intro-content {
    width: 80%;
  }

  .contact-form-wrap {
    padding: 2em 1em 2.5em;
  }

  .utility-page-wrap {
    padding: 15px;
  }

  ._404-wrap {
    padding: 30px;
  }

  .nav-cta {
    display: none;
  }

  .service-card {
    text-align: left;
  }

  .testimony-text {
    width: 90%;
  }

  .testimony-slider {
    padding-bottom: 4em;
  }

  .testimony-person {
    height: 5.4em;
    pointer-events: none;
  }

  .close-menu {
    width: 5em;
    height: 4em;
    margin-bottom: 0;
  }

  .hero-content__text-div {
    align-items: center;
  }

  .arrow {
    font-size: 1.8em;
  }

  .service-card__grid {
    grid-column-gap: 2em;
    grid-row-gap: 2em;
  }

  .process-track {
    width: 100%;
    height: auto;
  }

  .process-viewport {
    height: auto;
  }

  .process-card {
    width: 100%;
    min-height: 320px;
    aspect-ratio: auto;
  }

  .process-card:hover {
    transform: none;
  }

  .process-list {
    width: 96%;
    grid-column-gap: 1em;
    grid-row-gap: 2em;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    transform: none;
  }

  .hero-description {
    font-size: 16px;
    line-height: 28px;
  }

  .menu-grid {
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    flex-direction: column;
    grid-template-columns: 1fr;
    padding-bottom: 3em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    display: flex;
  }

  .menu-contact {
    grid-column-gap: 0em;
    grid-row-gap: 2em;
    text-align: left;
    grid-template-columns: 1fr;
  }

  .menu-contact__subtitle {
    margin-bottom: .8em;
  }

  .menu-contact__div {
    margin-bottom: 0;
  }

  .close-btn {
    width: 1.6em;
  }

  .contact-panel {
    grid-column-gap: 0em;
    grid-row-gap: 2em;
    text-align: left;
    grid-template-columns: 1fr;
  }

  .contact__div {
    margin-bottom: 0;
  }

  .motto-img {
    display: none;
  }

  .motto-img.tablet {
    background-image: url('../images/strategize.jpg');
    line-height: 1;
    display: inline;
  }

  .motto-img.tablet._2 {
    background-image: url('../images/happy.jpg');
  }

  .motto {
    text-align: left;
    font-size: 2.1em;
    line-height: 1.8;
  }

  .arrow-down {
    height: 4em;
  }

  .menu-sandwich {
    width: 3em;
    height: 3em;
    color: var(--color-apply--font-primary);
    padding-left: .5em;
    padding-right: .5em;
    display: block;
    position: relative;
    top: -.9em;
    left: 0;
  }

  .hide-on-tablet {
    display: none;
  }

  .btn_text {
    font-size: 16px;
    line-height: 28px;
  }

  .logo-svg {
    height: 1.5em;
  }
}

@media screen and (max-width: 479px) {
  body {
    font-size: 4vw;
  }

  h1 {
    font-size: 36px;
    line-height: 52px;
  }

  .section.short-hero {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .section.contact {
    padding-bottom: 2em;
  }

  .container {
    width: 96vw;
  }

  .button.go-ahead.w--current {
    border-width: 3px;
  }

  .button.menu-button {
    height: 2.6em;
  }

  .rich-text {
    width: 100%;
    max-width: none;
  }

  .heading-jumbo {
    font-size: 36px;
    line-height: 48px;
  }

  .heading-jumbo-small {
    text-align: center;
    font-size: 2.1em;
  }

  .logo-link {
    padding-right: 2vw;
  }

  .menu {
    margin-left: 2vw;
  }

  .navigation-wrap {
    grid-column-gap: .7em;
    grid-row-gap: .7em;
    grid-template-columns: 1fr 4fr;
  }

  .frame {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navigation-item {
    padding-top: .25em;
    padding-bottom: .25em;
    font-size: 1.4em;
  }

  .menu-button, .menu-button.w--open {
    flex: none;
  }

  .navigation-items {
    height: 100vh;
  }

  .cta-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }

  .contact-form-wrap {
    padding-left: 1em;
    padding-right: 1em;
  }

  .contact-form-grid {
    width: 100%;
  }

  .get-in-touch-form {
    grid-template-columns: 1fr;
  }

  .nav-cta {
    margin-right: 2vw;
  }

  .nav-logo {
    font-size: 1.6em;
  }

  .quote-icon {
    top: 3.2em;
    right: 1.2em;
  }

  .testimony-text {
    width: 92%;
    font-size: 1.3em;
  }

  .testimony-slider {
    padding-bottom: 3em;
  }

  .slide-nav {
    justify-content: center;
    align-items: center;
    font-size: .75em;
    display: flex;
  }

  .testimony-person {
    height: 5em;
  }

  .close-menu {
    width: 5em;
    height: 5em;
    padding-top: 2em;
    padding-bottom: 1em;
    padding-right: 2em;
  }

  .arrow {
    display: none;
  }

  .service-card__grid {
    grid-template-columns: 1fr;
  }

  .menu-grid {
    height: 100%;
    grid-column-gap: 0em;
    grid-row-gap: 1em;
    flex-direction: column;
    grid-template-rows: 5em 1fr auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    padding-bottom: 3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: flex;
    overflow: auto;
  }

  .menu-contact {
    grid-template-columns: 1fr;
    padding: 1em;
  }

  .menu-contact__div, .menu-contact__detail-item {
    color: var(--global-swatch--light-primary);
  }

  .close-btn {
    width: 1.4em;
  }

  .radio-btn__grid {
    grid-column-gap: .5em;
    grid-row-gap: .5em;
    grid-template-columns: 1fr;
  }

  .contact-panel {
    grid-template-columns: 1fr;
    padding: 1em;
  }

  .motto-img.tablet {
    line-height: 1em;
  }

  .motto {
    font-size: 1.8em;
    line-height: 1.6;
  }

  .menu-sandwich {
    width: 3em;
    height: 3em;
    padding-left: .5em;
    padding-right: .5em;
    font-size: .8em;
    display: block;
    position: relative;
    top: -1em;
    left: .04em;
  }

  .hide-on-tablet, .logo-svg {
    display: none;
  }

  .testimony-slide {
    width: 100%;
  }
}

#w-node-_4eb27898-d085-4e5a-8b3f-5d2c9a21eb63-870684f8 {
  align-self: center;
}

#w-node-_0bbfd872-1121-61f4-247b-6ec2b21dee13-870684f8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a5caa746-e0c5-5ef8-1e1c-2eab984d2395-b27a4e25 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-b079ebc6-063e-1257-50de-b19bedc916c7-b27a4e25 {
  grid-area: 1 / 2 / 3 / 3;
  align-self: center;
}

#w-node-_7f1a23f7-6c86-ec7d-cd54-f113cfc2c6c9-b27a4e25 {
  grid-area: 1 / 3 / 2 / 4;
}

#w-node-d208c5b6-7e72-993d-b51d-49ebac0fc6ac-870684fd {
  align-self: center;
}

#w-node-_96cbbe86-4bf2-ab53-8888-ee60e6f11089-870684fd {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#contact-form.w-node-_3f61509a-fac7-b0d5-3763-509be705858e-870684fd {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_2a93994f-5b0e-895f-ff4d-376e5f863d53-870684fd, #w-node-_15372243-0c5f-656d-d7f8-3f25609cfdf9-870684fd, #w-node-_028b88b7-e254-40c7-ca53-daa6707ab9e5-870684fd {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-d7b95def-6d7d-073f-6810-7e1387e829d8-870684fd {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5a6b4d5d-1ef1-128a-2508-61a8aab6582c-870684fd, #w-node-_661deb80-6f85-3fa4-a37e-659e4c33216b-870684fd, #w-node-_81e01908-d648-88fd-ef6b-0d1e4284a5d6-870684fd {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_3f61509a-fac7-b0d5-3763-509be705859f-870684fd {
  grid-area: span 1 / span 2 / span 1 / span 2;
  justify-self: center;
}

@media screen and (min-width: 1280px) {
  #w-node-a5caa746-e0c5-5ef8-1e1c-2eab984d2395-b27a4e25 {
    grid-row-start: 2;
  }
}

@media screen and (max-width: 991px) {
  #w-node-a5caa746-e0c5-5ef8-1e1c-2eab984d2395-b27a4e25 {
    grid-area: span 2 / span 1 / span 2 / span 1;
  }

  #w-node-b079ebc6-063e-1257-50de-b19bedc916c7-b27a4e25 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: end;
  }

  #w-node-_52e31b35-68b9-a0f6-fad1-96091a0431f1-b27a4e25 {
    grid-area: span 2 / span 1 / span 2 / span 1;
  }

  #w-node-f995c88c-7a95-b26a-1b79-4f3015942ac7-b27a4e25 {
    grid-area: 2 / 1 / 2 / 2;
  }

  #w-node-_81e01908-d648-88fd-ef6b-0d1e4284a5d6-870684fd {
    grid-row: span 1 / span 1;
  }

  #w-node-a1c590d6-150b-7ffa-6bdd-7625d8caac75-870684fd {
    grid-area: 2 / 1 / 2 / 2;
  }

  #w-node-a1c590d6-150b-7ffa-6bdd-7625d8caac7a-870684fd {
    grid-area: span 2 / span 1 / span 2 / span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_18638a64-158e-82a5-ef35-2151b27a4e29-b27a4e25 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_18638a64-158e-82a5-ef35-2151b27a4e27-b27a4e25 {
    grid-area: 1 / 1 / 2 / 3;
  }

  #w-node-_7f1a23f7-6c86-ec7d-cd54-f113cfc2c6c9-b27a4e25 {
    grid-row: 2 / 3;
  }

  #w-node-_81e01908-d648-88fd-ef6b-0d1e4284a5d6-870684fd {
    grid-row: span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_18638a64-158e-82a5-ef35-2151b27a4e27-b27a4e25 {
    grid-area: 1 / 1 / 2 / 3;
  }

  #w-node-_2a93994f-5b0e-895f-ff4d-376e5f863d53-870684fd, #w-node-_15372243-0c5f-656d-d7f8-3f25609cfdf9-870684fd, #w-node-_028b88b7-e254-40c7-ca53-daa6707ab9e5-870684fd, #w-node-_5a6b4d5d-1ef1-128a-2508-61a8aab6582c-870684fd, #w-node-_661deb80-6f85-3fa4-a37e-659e4c33216b-870684fd {
    grid-column: span 1 / span 1;
  }

  #w-node-_81e01908-d648-88fd-ef6b-0d1e4284a5d6-870684fd {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_3f61509a-fac7-b0d5-3763-509be705859f-870684fd {
    grid-column: span 1 / span 1;
  }
}


